<!doctype html>
<html>
    <head>
        <title>Blogz</title>
    </head>
<body>
<nav>
  <a href="/index">Home</a> |
  <a href="/blog">All Posts</a> |
  <a href="/newpost">New Post</a> |
  <a href="/login">login</a> |
  <a href="/logout">logout</a> |
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}        

    <h1>Blog Users</h1>

    {% block content %}
    {% endblock %}


</body>
</html>
